.layout-container{
  z-index: 1;
}

.layout-header {
  transition: height 300ms;
  z-index: -1;
}

.header-height-0 {
  height: 280px !important;
}

.header-height-1 {
  height: 100px !important;
}

.header-height-2 {
  height: 60px !important;
}

.header-height-full {
  height: 100% !important;
}


.nav-footer-container {
  bottom: 0;
  left: 0;
}