@import "src/css/colors.module.scss";

.gooey-incomingMsg {
  width: 100%;
  word-break: break-word !important;
}

.gooey-incomingMsg audio {
  width: 100%;
  height: 40px;
}

.gooey-incomingMsg video {
  max-width: 90%;
  max-height: 360px;
  height: auto;
  border-radius: 12px;
}

.sources-listContainer {
  display: flex;
  min-height: 72px;
  max-width: calc(100% + 16px); // 16px is the padding of the parent container
  
}

.sources-card {
  background-color: $light;
  border-radius: 12px;
  cursor: pointer;
  min-width: 160px;
  max-width: 160px;
  height: 74px;
  padding: 8px;
  border: 1px solid transparent;
}

.sources-card:hover {
  border: 1px solid $muted;
}

.sources-card-disabled:hover {
  border: 1px solid transparent;
}

.sources-card p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  word-break: break-all;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gooey-placeholderMsg-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: row;
  gap: 12px 12px;
}

// Function call details styling
.gooey-incomingMsg {
  details {
    border: 2px solid $border-color;
    border-radius: 12px;
    background-color: $white;
    margin: 8px 0;
  }

  summary {
    background-color: $light;
    padding: 4px 8px;
    cursor: pointer;
    color: $muted;
    border: none;
    border-radius: 10px;
    outline: none;
    display: flex;
    gap: 0.3em;
    align-items: center;
    user-select: none;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: "▼";
      color: $muted;
      font-size: 14px;
      margin-left: auto;
      transition: transform 0.2s ease;
    }
  }

  details[open] {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }

  details[open] summary {
    border-radius: 10px 10px 0 0;

    margin-left: -0.6rem;
    margin-right: -0.6rem;
    margin-bottom: 0.6rem;
    
    &::after {
      transform: rotate(180deg);
      color: $muted;
    }
  }
}
