.gooey-incomingMsg {
  max-width: 100%;
  height: auto;
  word-wrap: normal;
  border-bottom: 1px solid #eee;
  overflow: auto;
  overflow-wrap: break-word;
  animation: fade-in-A 0.4s;
  border-top: 1px solid #eee;
}