@import "src/css/colors.module";

.location-modal-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: transform 0.2s ease-in-out;
  transform: translateY(100%);
}

.location-modal-overlay.is-open {
  transform: translateY(0);
}

.location-modal {
  background-color: white;
  padding: 16px;
  height: 100%;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-bottom: 10px;
}

.location-map {
  flex: 1 1 auto;
  width: 100%;
  height: 80%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.location-map iframe {
  border: 1px solid black;
}

.location-map-iframe {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio fallback */
  border: 1px solid black;
}

.location-map-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-actions {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.error-text {
  color: $error;
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
