@import "src/css/colors.module.scss";
.gooey-outgoingMsg {
  max-width: 80%;
  animation: fade-in-A 0.4s;
}
.gooey-outgoingMsg audio {
  max-width: 100%;
  height: 40px;
}
.gooey-outgoing-text {
  white-space: break-spaces !important;
  word-break: break-word !important;
  background-color: $surface;
}

.gooey-outgoing-expand-btn {
  &:hover {
    color: $text-primary;
    background-color: rgba(0, 0, 0, 0.05);
  }
}
.outgoingMsg-image {
  max-width: 200px;
  min-width: 200px;
  background-color: $surface;
  animation: fade-in-A 0.4s;
  height: 100px;
  object-fit: cover;
}


@keyframes fade-in-A {
  0% {
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  100% {
    opacity: 1;
  }
}

.fade-in-A {
  animation: fade-in-A 0.3s ease 0.5s;
}