.gooey-outgoingMsg {
  max-width: 80%;
  animation: fade-in-A 0.4s;
}
.gooey-outgoingMsg audio {
  width: 100%;
  height: 40px;
}
.gooey-outgoing-text {
  white-space: break-spaces !important;
}

.outgoingMsg-image {
  max-width: 200px;
  min-width: 200px;
  background-color: #eee;
  animation: fade-in-A 0.4s;
  height: 100px;
  object-fit: cover;
}


@keyframes fade-in-A {
  0% {
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  100% {
    opacity: 1;
  }
}

.fade-in-A {
  animation: fade-in-A 0.3s ease 0.5s;
}