@import "src/css/colors.module.scss";

.gooeyChat-chat-input {
  width: 100%;
  background: transparent;
  position: sticky;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 16px 16px 0 0;
}

.gooeyChat-chat-input-textarea {
  width: 100%;
  max-width: 100%;
  outline: none;
  resize: none;
  position: relative;
  background-color: #f5f5f5;
}

.gooeyChat-chat-input-textarea:focus {
  outline: 1px solid $light;
}

.gooeyChat-chat-input-textarea::placeholder {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gooeyChat-chat-input-textarea:placeholder-shown {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.input-left-buttons {
  position: relative;
  left: 4px;
  top: 7px;
}

.input-right-buttons {
  position: absolute;
  right: 4px;
  top: 3px;
}

.gooey-file-menu-button {
  min-width: 100px;
}

.gooey-file-menu-trigger {
  display: inline-block;
}

.gooey-powered-by {
  font-size: 8px;
}

.file-preview-list {
  gap: 12px;
  flex-wrap: nowrap;
  scrollbar-width: thin;
}

.file-preview-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.file-preview-loader-inner {
  z-index: 2;
}

.file-preview-remove {
  position: absolute;
  top: 6px;
  right: -16px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.file-preview-box img,
.file-preview-box video {
  height: 60px;
  width: 100px;
  max-height: 60px;
  object-fit: cover;
}

.uploading-box {
  filter: brightness(0.2);
}

.gooey-menu-item {
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.gooey-menu-item:hover {
  background-color: $light;
}
