@import "src/css/colors.module.scss";

.gooeyChat-chat-input {
  width: 100%;
  position: sticky;
  bottom: 0;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 16px 16px 0 0;
}

.gooeyChat-chat-input textarea {
  width: 100%;
  outline: none;
  max-height: 200px;
  height: 44px;
  resize: none;
  position: relative;
  background-color: var(--gooey-input-bg, #f5f5f5);
  color: var(--gooey-text, #090909);
}

.gooeyChat-chat-input textarea:focus {
  outline: 1px solid $border-color;
}

.gooeyChat-chat-input textarea::placeholder {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gooeyChat-chat-input textarea:placeholder-shown {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.input-left-buttons {
  position: relative;
  left: 4px;
  top: 7px;
}

.input-right-buttons {
  position: absolute;
  right: 4px;
  top: 3px;
}

.file-preview-box img {
  height: 60px;
  width: 100px;
  object-fit: cover;
}

.uploading-box {
  filter: brightness(0.2);
}

.gooey-menu-item {
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.gooey-menu-item:hover {
  background-color: $surface;
}
