.bx-shadowA {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 4px,
    rgba(0, 0, 0, 0.2) 0px 2px 12px;
}
.bx-shadowB {
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
