.gooey-embed-container * {
  margin: 0;
  box-sizing: border-box;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Ubuntu,
    Cantarell,
    "Noto Sans",
    sans-serif,
    "Helvetica Neue",
    Arial,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  margin-block-start: 0;
  margin-block-end: 0;
}

.gooey-embed-container {
  height: 100%;
}

.gooey-embed-container p {
  color: default;
  margin-block-start: 0;
  margin-block-end: 0;
}

.gooey-embed-container a {
  text-decoration: none;
}

::-webkit-scrollbar {
  background: transparent;
  color: white;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

code,
code[class*="language-"] {
  font-size: 0.9rem;
  color: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
  /*margin: inherit;*/
  /*padding: inherit;*/
}

pre,
pre[class*="language-"] {
  background: #f5f2f0;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0.8rem;
  margin: 0 0 0.9rem;
  border-radius: 0 0 8px 8px;
}

div.code-toolbar > .toolbar > .toolbar-item > button {
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  backdrop-filter: blur(3px);
  box-shadow: inherit;
  border-radius: inherit;
  padding: 0.5rem;
}

div.code-toolbar > .toolbar {
  font-size: 1.1rem;
  top: 0.4rem;
  right: 0.4rem;
}
