@import "src/css/colors.module";

button {
  background: none transparent;
  display: block;
  padding-inline: 0px;
  margin: 0px;
  padding-block: 0px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
  color: $text-primary;
  width: fit-content;
}

button:disabled {
  color: $text-secondary !important;
  background-color: $surface;
  cursor: unset;
}

button .btn-icon-left {
  display: inline;
}

button .btn-icon-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

button .icon-hover {
  opacity: 0;
}

button .btn-hide-overflow p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button:hover .icon-hover {
  opacity: 1;
}

button.depressed {
  background-color: $surface;
}

// Variant - FILLED
.button-filled {
  background-color: $background;
  border: 1px solid $surface;
  color: $text-primary;
}

.button-filled:hover {
  border: 1px solid $border-color;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06) inset;
}

.button-filled:disabled {
  background-color: $border-color;
  border: 1px solid $border-color;
  color: $text-secondary !important;
}

// Variant - OUTLINED
.button-outlined {
  border: 1px solid $border-color;
  border-radius: 12px;
  background-color: transparent;
  color: $text-primary;
}

.button-outlined:hover:not(:disabled) {
  background-color: $surface;
  border-color: $text-primary;
}

.button-outlined:disabled {
  color: $text-secondary !important;
  border-color: $border-color;
  background-color: transparent;
}

// Variant - TEXT
.button-text:disabled {
  color: $text-secondary !important;
  background-color: transparent;
}

.button-text:disabled:hover {
  border: 1px solid transparent;
  background-color: transparent;
}

.button-text:hover {
  border: 1px solid $border-color;
  background-color: $background;
}

.button-text:active:not(:disabled) {
  background-color: $divider;
  color: $text-primary !important;
}

#expand-collapse-button svg {
  transform: rotate(180deg);
}

.collapsible-button-expanded #expand-collapse-button > svg {
  transform: rotate(0);
  transition: transform 0.3s ease;
}

.chevron-down > svg {
  transform: rotate(0);
  transition: transform 0.3s ease;
}

.chevron-up > svg {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.button-text-alt {
  background-color: $surface;
  border: 1px solid $surface;
  color: $text-primary;
}

.button-text-alt:hover {
  background-color: $surface;
  border: 1px solid $border-color;
}

.collapsed-area {
  height: 0px;
  transition: all 0.3s ease;
  opacity: 0;
}
.collapsed-area-expanded {
  transition: all 0.3s ease;
  height: 100%;
  opacity: 1;
}

#expand-collapse-button {
  display: inline-flex;
  padding: 1px !important;
  max-height: 16px;
}
