@import "src/css/colors.module";

button {
  background: none transparent;
  display: block;
  padding-inline: 0px;
  margin: 0px;
  padding-block: 0px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
  color: $almost-black;
  width: fit-content;
}
button:disabled {
  color: $muted !important;
  fill: $light;
  cursor: unset;
}

// Variant - FILED
.button-filled {
  background-color: #eee;
}
.button-filled:hover {
  border: 1px solid #0d0d0d;
}

// Variant - OUTLINED
.button-outlined {
  border: 1px solid #eee;
}
.button-outlined:hover {
  background-color: $light;
}

// Variant - TEXT
.button-text:disabled:hover {
  border: 1px solid transparent;
}

.button-text:hover {
  border: 1px solid #eee;
}

.button-text:active:not(:disabled) {
  background-color: #eee;
  color: #0d0d0d !important;
}

.button-text:active:disabled {
  background-color: unset;
}

#expand-collapse-button svg {
  transform: rotate(180deg);
}

.collapsible-button-expanded #expand-collapse-button > svg {
  transform: rotate(0);
  transition: transform 0.3s ease;
}

.button-text-alt:hover {
  background-color: $light;
}

.collapsed-area {
  height: 0px;
  transition: all 0.3s ease;
  opacity: 0;
}
.collapsed-area-expanded {
  transition: all 0.3s ease;
  height: 100%;
  opacity: 1;
}

#expand-collapse-button {
  display: inline-flex;
  padding: 1px !important;
  max-height: 16px;
}
